<div class="alert alert-primary">
  <h3 class="text-center">Detalle Cliente </h3>
  <table>
    <tr>
      <td>Id:</td>
      <!-- <td><input type="text" [(ngModel)]="id" readonly> </td> -->
      <td><input type="text" [(ngModel)]="detailCliente.id" readonly> </td>
    </tr>
    <tr>
      <td>Nombre: </td>
      <!-- <td><input type="text" [(ngModel)]="nombre"> </td> -->
      <td><input type="text" [(ngModel)]="detailCliente.nombre"> </td>
    </tr>
    <tr>
      <td>Cargo: </td>
      <!-- <td><input type="text" [(ngModel)]="cargo"> </td> -->
      <td><input type="text" [(ngModel)]="detailCliente.cargo"> </td>
    </tr>
  </table>

  <div class="text-center">
    <button (click)="Modficar()" class="btn btn-primary">Modificar</button>&nbsp;
    <button routerLink="/clientes" class="btn btn-success">Cancelar</button>
  </div>
</div>