#main{
    text-align: center;
}

#dataPrinted{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.c-character{
    margin: 10px;
    border: 3px solid darkgray;
    border-radius: 5px;
    text-align: center;
    width: 300px;
}

.c-character:hover{
    box-shadow: 0 0 10px rgba(0,0,0,1);
    cursor: cell;
}

.c-character img{
    width: 250px;
}

.c-information-character{
    width: 400px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.c-information-character__close{
    width: 80px;
    background-color: red;
    border-radius: 2px;
    border-bottom: red;

}

.c-information-character__close:hover{
    cursor: pointer;
}